﻿@model IEnumerable<PDFPrinterDemo.Core.Models.EmployeeInfo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    @Html.ActionLink("Print", "PrintAllReport") | 
    @Html.ActionLink("Create New Employee Details", "Create")
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Employee Name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary)
            </th>
            <th>
                Department Name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Designation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HRA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DA)
            </th>
            <th>
                Gross Salary
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TDS)
            </th>
            <th>
                Net Salary
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.ActionLink(item.EmployeeName, "IndexById", new { id = item.Id})
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeptName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Designation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HRA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GrossSalary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TDS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NetSalary)
            </td>
            <td>
                @Html.ActionLink("Print Salary Slip", "PrintSalarySlip", new { id = item.Id }) |
                @Html.ActionLink("Edit", "Edit")
            </td>
        </tr>
}
    </tbody>
</table>
